@media (prefers-color-scheme: dark) {
    .flipdown {
        font-family: sans-serif;
        font-weight: bold;
    }
}

@media (prefers-color-scheme: light) {

    /* Font styles */
    .flipdown {
        font-family: sans-serif;
        font-weight: bold;
    }
}

.flipdown {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    overflow: visible;
    width: 510px;
    height: 110px;
}