@media (prefers-color-scheme: dark) {

    /* Rotor group headings */
    .rotor-group-heading:before {
        color: #EEEEEE;
    }
}

@media (prefers-color-scheme: light) {

    /* Rotor group headings */
    .rotor-group-heading:before {
        color: #000000;
    }
}

.rotor-group-heading:before {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.rotor-group:nth-child(1) .rotor-group-heading:before {
    content: attr(data-before);
}

.rotor-group:nth-child(2) .rotor-group-heading:before {
    content: attr(data-before);
}

.rotor-group:nth-child(3) .rotor-group-heading:before {
    content: attr(data-before);
}

.rotor-group:nth-child(4) .rotor-group-heading:before {
    content: attr(data-before);
}

